.docker/
.pyenv/
.local/
Downloads/
Searches/
Pictures/
ntuser*
Favorites/
Links/
IntelGraphicsProfiles/
OneDrive/
Saved\ Games/
Music/
Videos/
Documents/PowerShell/Modules/
Documents/PowerShell/Help/
3D\ Objects/
.dotfiles/
Desktop/
desktop.ini
.git-for-windows-updater
Application\ Data/
Cookies/
Documents/My\ Music/
Documents/My\ Pictures/
Documents/My\ Videos/
Local\ Settings/
My\ Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start\ Menu/
Templates/

# Unreal Engine
EditorLayout.ini
EditorSettings.ini